.floatingChild img {
  object-fit: contain;
  animation: float 8s linear infinite;
  padding: 1rem;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(1rem);
  }
}

.hero_container {
  background-image: url("../../Assets/HeroSection/pngkey.com-map-png-158921.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.herobtn {
  background-image: url("../../Assets/HeroSection/btn.png");
  width: 200px;
  height: 85px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Media Query */

@media (max-width: 320px) {
}

@media (min-width: 375px) {
}

@media (min-width: 425px) {
}

@media (min-width: 475px) {
}

@media (max-width: 500px) {
  .btnImg {
    width: 57px;
  }
}

@media (min-width: 640px) {
  .btnImg {
    width: 70px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  /* course Section */

  .course_container {
    background-image: url("../../Assets/courseCard/coursePath.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 250px;
  }
}

@media (min-width: 1280px) {
}
