.testimonialsbg {
  background-image: url("../../Assets/HeroSection//pngkey.com-map-png-158921.svg");
}

@keyframes toggleAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animated-element {
  animation: toggleAnimation 12s infinite;
}

.hero_container1 {
  /* background-image: url("../../Assets/HeroSection/opacityReducer.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  width: 200px;
  height: 200px;
}
.mask {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-mask-image: url("../../Assets/Promo/Ellipsenew1.png");
  mask-image: url("../../Assets/Promo/Ellipsenew1.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
