.centerImg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.centerText {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.fixedCard {
  position: fixed;
  top: 15%;
  right: 150px;
}
