.centerImg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.centerText {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.fixedCard {
  position: fixed;
  top: 20%;
}

/* MediaQuery */

@media (min-width: 1280px) {
  .fixedCard {
    right: 20px;
  }
}
@media (min-width: 1440px) {
  .fixedCard {
    right: 150px;
  }
}
