@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dayOne {
  font-family: "Days One";
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

::-webkit-scrollbar {
  display: none;
}

.boxShadow {
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}