.shadow23 {
    box-shadow: 0 10px 20px rgba(225, 29, 72, .5), 0 6px 6px rgba(225, 29, 72, .5), 0 0 100px -10px #e11d48;
    box-shadow: 0 10px 20px rgba(225, 29, 72, .5), 0 6px 6px rgba(225, 29, 72, .5), 0 0 100px -10px #e11d48;
}

.closebtn {
    cursor: pointer;
    filter: drop-shadow(0px 0px 100px #550202);
}